<h1>Editing Product</h1>

<%= render 'form' %>

<<<<<<< HEAD
<%= link_to 'Show', [@product.category, @product] %> |
<%= link_to 'Back', category_products_path(@product.category) %>
=======
<%= link_to 'Show', @product %> |
<%= link_to 'Back', products_path %>
>>>>>>> bc281907d4713d81bf745bfd342f155aacfef41d
