<<<<<<< HEAD
<!DOCTYPE html>
<html lang="en">
=======

>>>>>>> bc281907d4713d81bf745bfd342f155aacfef41d
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
<<<<<<< HEAD
  <meta name="author" content="DVLPER">
  <title>Deco 27 | Exotic Hardwood Flooring in Miami, Fl | Distributors  Engineered Hardwood | Floors  Artisan Floors  Floor Art | Sports and Dance Floors Decks and Fences | Hardwood  Specialty Wood Products | Prefinished Brazilian Teak Floors | European White Oak Fatwood</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>
<body id="<%= params[ :action ] %>" class="<%= params[ :controller ] %>" data-spy="scroll" data-target=".navbar">
  <div class="container-fluid">
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>">
        <%= value %>
      </div>
    <% end %>
  </div>
  <%= render 'partials/nav' %>

  <%= yield :top_content %>

  <div class="container">
      <h1><%= yield :header %></h1>
    <%= yield %>
  </div>

  <%= render 'partials/footer' %>
</body>
</html>
=======
  <title>Deco 27  Hardwood Flooring in Miami, Fl | Distributors  Engineered Hardwood | Floors  Artisan Floors  Floor Art | Sports and Dance Floors Decks and Fences | Hardwood  Specialty Wood Products | Prefinished Brazilian Teak Floors | European White Oak Fatwood</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href="css/grayscale.css" rel="stylesheet">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>

<%= yield %>

</body>
>>>>>>> bc281907d4713d81bf745bfd342f155aacfef41d
